:root {
  --lightred-ctatext: hsl(356, 100%, 66%);
  --verylightred-ctahover-bg: hsl(355, 100%, 74%);
  --verydark-blue-headings: hsl(208, 49%, 24%);

  --white-text: hsl(0, 0%, 100%);
  --grayishblue-footertext: hsl(240, 2%, 79%);
  --verydarkgrayishblue-bodycopy: hsl(207, 13%, 34%);
  --verydarkblackblue-footer-bg: hsl(240, 10%, 16%);

  //   Background gradient - Intro/CTA mobile nav:
  --verylightred: hsl(13, 100%, 72%);
  --lightred: hsl(353, 100%, 62%);

  // Background gradient - body:
  --verydarkgrayblue: hsl(237, 17%, 21%);
  --verydarkdesaturatedblue: hsl(237, 23%, 32%);
}
